.jumbotron {
    background-color: #E5E5E5 !important; 
    
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.street-name {
    text-align: center;
    margin: 30px 0;
}

.parking-lot-container {
    background-color: #E5E5E5;
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly !important;
    color: #ffffff;
    
    
}

.parking-lot-occupied {
    background-color: #14213d;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border-radius: 10%;
    
}

.parking-lot-vacant {
    background-color: #fca311;
    text-align: center;
    padding: 10px;
    border-radius: 10%;
    margin: 30px;
}

@media only screen and (max-width: 600px) {
    .parking-lot-container {
        flex-direction: column;
    }
}


